
@{
   Layout = null;
}

<!DOCTYPE html>

<html>
<head>
   <meta name="viewport" content="width=device-width" />
   <title>Formulário</title>
</head>
<body>
   <div>

      <!--  vou começar aqui o meu formulário -->
      @*  mas, este comentário só será visível no servidor  *@

      <h2>o meu formulário...</h2>

      @* formulário para receber os meus dados... *@
      <form method="post">

         qual o seu nome? <input type="text" maxlength="20" name="nome" /> <br />
         qual a sua idade? <input type="number" maxlength="3" name="idade" />
         <br /><br />
         <input type="submit" value="Enviar os dados para o servidor" />

      </form>


      @if(ViewBag.Resposta != "") {
         <text>
            <script>
                alert("@ViewBag.Resposta");
            </script>
         </text>
      }



   </div>
</body>
</html>
